/* Style.css */

* {
	font-family: Consolas, monaco, monospace;
}

.quiz,
.scores {
	margin: 50px auto 0 auto;
	max-width: 400px;
}

#top {
	color: red;
}

.containerNew {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 580px;
	width: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

p {
	margin: 15px 15px;
}

.landing {
	text-align: center;
}



.timer {
	position: absolute;
	top: 15px;
	right: 15px;
}

button {
	display: block;
    width: 100%;
    box-sizing: border-box;
	margin: 10px;
	cursor: pointer;
	color: #fff;
	background-color: #6799af;
	border-radius: 5px;
	border: 0;
	padding: 20px;
	
}

.scores-header {
	border-radius: 5px;
	border: 0;
	padding: 20px;
    color: #fff;
    background-color: #6799af;
}

button:hover {
	color: #fff;
	background-color: #6799af;
}

.options button {
	display: block;
}

input[type="text"] {
	font-size: 100%;
}

.hide {
	display: none;
}

.feedback {
	font-style: bold;
	font-size: 120%;
	margin-top: 20px;
	padding-top: 15px;
	color: #fff;
	border-top: 2px solid #4B0082;
}

ol {
	padding-left: 15px;
	max-height: 600px;
	overflow: auto;
}

li {
	padding: 5px;
	list-style: decimal inside none;
}
.slider-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    z-index: 1000;
    background-color: #fff;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100px; /* Adjust width as needed */
    height: 10px; /* Adjust height as needed */
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* Adjust thumb width as needed */
    height: 20px; /* Adjust thumb height as needed */
    background: #0d548b;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px; /* Adjust thumb width as needed */
    height: 20px; /* Adjust thumb height as needed */
    background: #4CAF50;
    cursor: pointer;
}

li:nth-child(odd) {
	background-color: #dfdae7;
}

@media screen and (max-width: 1920px) {
	.containerNew {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	.containerNew {
		width: 80%;
	}
}

@media screen and (max-width: 575px) {
	.containerNew {
		width: 90%;
	}

	.quiz,
	.scores {
		max-width: 90%;
	}
}
