/* Style.css */

* {
	font-family: Consolas, monaco, monospace;
}

.quiz,
.scores {
	margin: 50px auto 0 auto;
	max-width: 400px;
}

#top {
	color: red;
}

.containerNew {
	border: 20px solid;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 580px;
	width: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}

p {
	margin: 15px 15px;
}

.landing {
	text-align: center;
}

.scoresHeader {
	position: absolute;
	bottom: 15px;
	left: 0px;
}

.timer {
	position: absolute;
	top: 15px;
	right: 15px;
}
.square-frame-container {
    border: 2px solid #6799af; /* Color of the frame */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners for the frame */
    width: fit-content; /* Adjust width to fit the content */
    margin: 0 auto; /* Center the container horizontally */
}
button {
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	color: #fff;
	background-color: #6799af;
	border-radius: 5px;
	border: 0;
	padding: 20px;
	
}

button:hover {
	background-color: #6799af;
}

.options button {
	display: block;
}

input[type="text"] {
	font-size: 100%;
}

.hide {
	display: none;
}

.feedback {
	font-style: bold;
	font-size: 120%;
	margin-top: 20px;
	padding-top: 15px;
	color: #fff;
	border-top: 2px solid #4B0082;
}

ol {
	padding-left: 15px;
	max-height: 600px;
	overflow: auto;
}

li {
	padding: 5px;
	list-style: decimal inside none;
}

li:nth-child(odd) {
	background-color: #dfdae7;
}
@media screen and (max-width: 1920px) {
	.containerNew {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	.containerNew {
		width: 80%;
	}
}

@media screen and (max-width: 575px) {
	.containerNew {
		width: 90%;
	}

	.quiz,
	.scores {
		max-width: 90%;
	}
}
